{
  "extends": [
    "@rocket.chat/eslint-config",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "rules": {
    "no-useless-constructor": "off",
    "no-return-assign": ["error", "except-parens"],
    "@typescript-eslint/interface-name-prefix": "off"
  }
}
